table {
    border: 1px solid #dfdfdf;
    border-collapse: collapse;
}

th {
    background-color: #efefef;
    text-align: left;
    text-transform: uppercase;
}

td {
    border: 1px solid #efefef;
}

td,
th {
    padding: 0.4em;
}

.buttons-container {
    display: flex;
    margin-bottom: 2em;
}