.evento-title {
    margin: 0 auto;
    z-index: 1;
    padding-top: 2rem;
}

.evento-title h2 {
    color: var(--clr-primary-dark);
}

.divider-secondary {
    background-image: var(--separador-img);
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    /* height: 6rem; */
    width: 30rem;
    padding-top: 5rem;

}

@media only screen and (max-width: 600px) {
    .divider-secondary {
        width: 25rem;
    }


}