.topics {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    position: relative;
    justify-content: center;
    padding: 5rem;

}

.topic-title {
    text-align: center;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 2rem;
    width: 100%;
    justify-content: center;
    z-index: 1;
    padding: 2rem 2rem
}

/* .card-topic {
    width: 100%;
} */

.card-body--icon {
    text-align: center;
}

.card-body--icon img {
    width: 35%;
    height: auto;

}

.card-body--text_topics {
    text-align: center;
}

.card-body--text_topics p {
    font-size: 2rem;
    line-height: 3rem;

}

.card-automatic {
    /* height: 566.77px; */
    overflow: hidden;
}

.subtopic {
    padding-top: 1rem;
}

.card-body2 {
    padding-bottom: 1rem;
}

.steps-cruda {
    padding-bottom: .5rem;
}

@media screen and (max-width: 1192px) {
    .cards-container {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

@media screen and (max-width: 768px) {


    .topics {
        padding: 1.5rem;
        margin: 0rem;
    }

    .cards-container {
        flex-direction: column;
        gap: 2rem;
    }

    .card-body--text_topics p {
        font-size: 1.5rem;
        line-height: 2.5rem;

    }

    /* .card-topic {
        width: 80%;
        margin: auto;
    } */

}

@media screen and (max-width: 450px) {

    .cards-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

}